services:
  db:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_DB:       ${POSTGRES_DB}
      POSTGRES_USER:     ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      #POSTGRES_INITDB_ARGS: "--encoding=UTF8 --lc-collate=C --lc-ctype=C"
      #Agregamos esta línea para que la BD sea creada con configuración UTF-8 y así evitar errores

    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    command: >
      sh -c "sleep 5 && python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py loaddata backup.json &&
      python manage.py runserver 0.0.0.0:8000"
    ports:
      - '8000:8000'
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    depends_on:
      - db

volumes:
  db_data:
